
/* .images {
  width: 100%;
} */

.live-it-now {
  position:absolute;
  top: 35%;
  z-index:12;
  font-family: btm;
  color: #ffff;
  font-style: normal;
  font-weight: normal;
  font-size: 120px;
  line-height: 138px;
  /* text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.19); */
  /* display: flex; */
  /* align-items: center; */
  height: 120px;
  left: calc(48% - 370px / 2);
}
.imageContainer{
  /* border: 1px solid red; */
  height: 600px;
}
/* .imageshow{
  height: 200%;
} */
/* .carousel {
  width:100%;
  height:100%;
} */